---
import CarouselItem from "@components/sections/testimonials/CarouselItem.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const testimonials: CollectionEntry<"testimonials">[] = await getCollection("testimonials")
---

<div id="indicators-carousel" class="relative w-full max-w-[1000px] px-[3rem] sm:px-[5rem]" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="relative h-[600px] sm:h-[400px] md:h-96 overflow-hidden rounded-lg">
        {
            testimonials.map(t => <CarouselItem testimonial={t} />)
        }
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-7 h-7 sm:w-10 sm:h-10 rounded-full bg-white/30 group-hover:bg-white/50  group-focus:ring-4 group-focus:ring-primary_dark group-focus:outline-none">
            <svg class="w-2 sm:w-4 h-2 sm:h-4 text-white  rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-7 h-7 sm:w-10 sm:h-10 rounded-full bg-white/30  group-hover:bg-white/50  group-focus:ring-4 group-focus:ring-primary_dark group-focus:outline-none">
            <svg class="w-2 sm:w-4 h-2 sm:h-4 text-white  rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>
