<section class="relative min-h-[500px]">
    Emphatize
    <div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_60%,#CFA116_100%)] rotate-180"></div>
</section>