<section class="relative min-h-[500px] py-5 flex flex-col items-center justify-around gap-4 md:gap-2">

    <h1 class="max-w-[1200px] px-8 text-center text-xl sm:text-2xl md:text-3xl text-white select-none">
        <span class="text-primary_dark">PARA QUIENES SIEMPRE BUSCARON UN</span> ENTORNO QUE LOS <span class="text-primary_dark">APOYE</span>, <span class="text-primary_dark">POTENCIE</span> Y QUE LOS LLEVE A <span class="text-primary_dark">ALCANZAR SUS OBJETIVOS</span>
    </h1>

    

    <div class="w-full px-8 lg:max-w-[1000px] text-center flex flex-col gap-4 md:gap-8 font-light">
        <p class="lg:text-lg sm:text-[1rem] text-[0.9rem]">
            Fácil no es. Es difícil. Va a requerir mucho <span class="text-primary_dark font-normal">esfuerzo, dedicación y constancia</span>. Y por eso, es “demasiado bueno para ser real”. Porque <span class="text-primary_dark font-normal">solo el 1%</span> de la población está dispuesta a trabajar con esfuerzo, dedicación y constancia para lograr sus metas.
        </p>
        <p class="lg:text-lg sm:text-[1rem] text-[0.9rem]">
            ¿Realmente quieres cambiar tu vida y tener los resultados que nadie tiene?
        </p>
        <p class="lg:text-lg sm:text-[1rem] text-[0.9rem]">
            Es un punto de no retorno. Una vez que entres en este mundo, no hay vuelta atras. Entiende que, al final del día, <span class="text-primary_dark font-normal"><span class="uppercase">todo</span> depende de ti</span>. Lo bueno, lo malo, todo.
        </p>
        <p class="lg:text-lg sm:text-[1rem] text-[0.9rem]">
            Los resultados que ves en todas estas personas son reales. Y aunque la Matrix te haya hecho creen que no existen otras maneras de hacer dinero, puedes verlo con tus propios ojos: si las hay.
        </p>
    </div>

    <div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_60%,#CFA116_100%)] rotate-180"></div>
</section>