---
import FullScreenSectionLayout from "@layouts/FullScreenSectionLayout.astro";
import Button from "@components/Button.astro";
import Paragraph from "@components/Paragraph.astro";
import Heading from "@components/Heading.astro";
---
<FullScreenSectionLayout styles="h-screen max-h-[1500px]">
    <div id="Hero" class="
        relative w-full min-h-full h-auto pt-[85px] px-[2rem] flex flex-col gap-[10dvh] justify-center items-center
        md:px-0 
        lg:pt-0
        xl:px-3  xl:gap-0 xl:flex-row xl:items-center xl:justify-around">

        <article class="text-center flex flex-col items-center gap-5">
            <Heading level="h1">
                Club de <span class="text-white">Negocios</span>
            </Heading>
            <Paragraph styles="max-w-[500px] md:max-w-[700px] lg:max-w-[650px] xl:max-w-[550px]">
                Te introducimos a la Comunidad que te va a enseñar las estrategias de marketing, ventas, creación de contenido y negocios que te van a llevar a ganar <span class="text-primary">más de $1000 USD al mes, sin años de experiencia, título universitario o miles de seguidores.</span>
            </Paragraph>
            <Button text="Ingresar al club" linkTo="#" />
        </article>

        <article class="w-[330px] sm:w-[375px] md:w-[500px]">
            <lite-youtube 
                autoload
                posterquality="maxresdefault"
                videoid="jIsBnnm8lpI" 
                videotitle="Video del programa">
                <a href="https://www.youtube.com/watch?v=jIsBnnm8lpI&t=544s">Mirar en youtube:</a>
            </lite-youtube>
        </article>

        <div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_60%,#CFA116_100%)]"></div>
    </div>
</FullScreenSectionLayout>

<script>
    import '@justinribeiro/lite-youtube';
</script>