---
import FullScreenSectionLayout from "@layouts/FullScreenSectionLayout.astro";

---
<FullScreenSectionLayout>
    <div id="SuccessStories">
        SuccessStories
    </div>
</FullScreenSectionLayout>