---
import BaseLayout from '@layouts/BaseLayout.astro'
---
<BaseLayout>
    <h1>Encabezado</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic repellendus vero eos, facere voluptas molestiae, esse ut eveniet corrupti sint praesentium voluptates, cupiditate corporis eum iure maxime quasi repudiandae provident?</p>
</BaseLayout>