---
import BaseLayout from '@layouts/BaseLayout.astro'
import Hero from '@components/sections/Hero.astro'
import Emphatize from '@components/sections/Emphatize.astro'
import Offer from '@components/sections/Offer.astro'
import SuccessStories from '@components/sections/SuccessStories.astro'
import OtherExamples from '@components/sections/OtherExamples.astro'
import Testimonials from '@components/sections/Testimonials.astro'
import WhyUs from '@components/sections/WhyUs.astro'
import WhoWeAre from '@components/sections/WhoWeAre.astro'
import Pricing from '@components/sections/Pricing.astro'
import Questions from '@components/sections/Questions.astro'
---
<BaseLayout>
    <div class="flex-grow">
        <Hero></Hero>
        <Emphatize></Emphatize>
        <Offer></Offer>
        <SuccessStories></SuccessStories>
        <OtherExamples></OtherExamples>
        <Testimonials></Testimonials>
        <WhyUs></WhyUs>
        <WhoWeAre></WhoWeAre>
        <Pricing></Pricing>
        <Questions></Questions>
    </div>
</BaseLayout>