---
interface Props {
    text?: string,
    linkTo?: string,
    target?: string
}
const { text = 'Click Here  ', linkTo = '/', target = '_self' } = Astro.props
---

<a 
    href={linkTo} target={target} 
    class="
        inline-block w-fit px-3 py-1 text-md font-light rounded-lg bg-secondary_dark 
        lg:px-5 lg:py-2 lg:text-lg
        hover:shadow-[0px_0px_10px_2px_#7AFC16] transition-shadow ease-out duration-150
        active:-translate-y-1 active:transition-transform"
>
    {text}
</a>