---
import { Image } from "astro:assets";
import Link from "@components/Link.astro"
import NavButton from "@components/NavButton.astro"
import BannerClub from "@assets/images/banner-club.webp"
import { getI18N } from "@i18n/i18n";

const { currentLocale }  = Astro
const I18N = getI18N({ currentLocale })

const LINKS = [
    I18N?.Navbar_Offer,
    I18N?.Navbar_SuccessStories,
    I18N?.Navbar_Testimonials,
    I18N?.Navbar_WhyUs,
    I18N?.Navbar_WhoWeAre,
    I18N?.Navbar_Pricing,
    I18N?.Navbar_Questions
]
---

<header class="navbar_scrolled fixed w-full px-[2rem] py-[.7rem] flex justify-between items-center 
    ">
    <a href="#">
        <Image src={BannerClub} width={150} height={100} alt="Logo" />
    </a>
    <nav id="navbar" class="hidden xl:flex xl:justify-end xl:gap-3 ">
        {LINKS.map(link => <Link label={link}/>)}
    </nav>
    <NavButton/>
</header>

<script>
    const btn = document.getElementById("navbutton");
    const navbar = document.getElementById("navbar");
    btn?.addEventListener('click', () => {
        if (navbar?.classList.contains('hidden')) {
            navbar?.classList.add('navbar_open')
            navbar?.classList.remove('navbar_closed')
        }
        else {
            navbar?.classList.remove('navbar_open')
            navbar?.classList.add('navbar_closed')
        }
        navbar?.classList.toggle('hidden')
    })    
</script>

<style is:global>

    /* SCROLL BACKGROUND TRANSITION */
    .navbar_scrolled {
        animation: blur linear both;
        animation-timeline: scroll();
        animation-range: 0 80px;
    }
    @keyframes blur {
        to {
            background-color: #232323d2;
            box-shadow: inset 0px 0px 36px 5px rgba(207, 161, 22, 0.925);
        }
    }

    /* HANDLE SHOW & HIDE COLLAPSED NAVBAR */
    .navbar_closed {
        position: fixed;
        top: -100dvh;
        width: 100dvw;
        height: 100dvh;
        margin-inline: -2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        /* background-color: var(--dark); */
        background: rgb(89,78,41);
        background: linear-gradient(0deg, rgba(89,78,41,1) 0%, rgb(31, 29, 22) 0%, rgba(20,20,20,1) 100%);
        animation: hide .3s ease-in-out
    }
    .navbar_open {
        position: fixed;
        top: 0dvh;
        width: 100dvw;
        height: 100dvh;
        margin-inline: -2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        /* background-color: var(--dark); */
        background: rgb(89,78,41);
        background: linear-gradient(0deg, rgba(89,78,41,1) 0%, rgb(31, 29, 22) 0%, rgba(20,20,20,1) 100%);
        animation: slide .3s ease-in-out;
    }
    :is(.navbar_closed,.navbar_open) a {
        font-size: 1.3rem;
    }
    @keyframes slide {
        from {
            top: -100dvh;
        }
        to {
            top: 0;
        }
    }
    @keyframes hide {
        from {
            top: 0;
        }
        to {
            top: -100dvh;
        }
    }
</style>