---
import CourseItem from "@components/sections/courses/CourseItem.astro";
import Heading from "@components/Heading.astro";
import OfferIcon from "@components/icons/courses/Offer.astro"
import VideoIcon from "@components/icons/courses/Video.astro"
import GraphicDesignIcon from "@components/icons/courses/GraphicDesign.astro"
import LinkedinIcon from "@components/icons/courses/Linkedin.astro"
import MktIcon from "@components/icons/courses/Mkt.astro"
import CopywritingIcon from "@components/icons/courses/Copywriting.astro"
import IgIcon from "@components/icons/courses/Ig.astro"
import SalesIcon from "@components/icons/courses/Ig.astro"

import { getI18N } from "@i18n/i18n";

const { currentLocale }  = Astro
const I18N = getI18N({ currentLocale })

const COURSES = [
    { heading: I18N?.Courses_1_Heading, text: I18N?.Courses_1_Desc },
    { heading: I18N?.Courses_2_Heading, text: I18N?.Courses_2_Desc },
    { heading: I18N?.Courses_3_Heading, text: I18N?.Courses_3_Desc },
    { heading: I18N?.Courses_4_Heading, text: I18N?.Courses_4_Desc },
    { heading: I18N?.Courses_5_Heading, text:  I18N?.Courses_5_Desc },
    { heading: I18N?.Courses_6_Heading, text:  I18N?.Courses_6_Desc },
    { heading: I18N?.Courses_7_Heading, text: I18N?.Courses_7_Desc },
    { heading: I18N?.Courses_8_Heading, text: I18N?.Courses_8_Desc }
]
---
<article class="relative w-full flex items-center flex-col gap-10 px-[3rem] py-[2rem]">
    <div class="w-full max-w-[1920px]">
        <Heading level="h3" styles="mx-auto px-8 text-center text-white mb-8">
            {I18N?.Courses_Title}
        </Heading>
        <ul class="grid grid-cols-1 md:grid-cols-2 gap-5">
            {
                COURSES.map(course => (
                    <CourseItem heading={course.heading} text={course.text}>
                        {
                            (course.heading == I18N?.Courses_1_Heading)
                            ? <OfferIcon/>
                            : (course.heading == I18N?.Courses_2_Heading)
                                ? <MktIcon/>
                                : (course.heading == I18N?.Courses_3_Heading)
                                    ? <VideoIcon/>
                                    : (course.heading == I18N?.Courses_4_Heading)
                                        ? <CopywritingIcon/>
                                        : (course.heading == I18N?.Courses_5_Heading)
                                            ? <GraphicDesignIcon/>
                                            : (course.heading === I18N?.Courses_6_Heading)
                                                ? <IgIcon/>
                                                : (course.heading == I18N?.Courses_7_Heading)
                                                    ? <LinkedinIcon/>
                                                    : <SalesIcon/>
                        }
                    </CourseItem>
                ))
            }
        </ul>
    </div>
    <div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(300%_140%_at_50%_0%,#000_60%,#CFA116_100%)]
    rotate-180"></div>
</article>   